*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.box{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: aqua;
}
.head-inner{
  display: flex;
}

.header-img{
  width: 60px;
  
}
.nav a{
  margin-left: 10px;
  text-decoration: none;
  font-weight: 700;
  color: white;
}
.nav a:hover{
  color: red;
}
.banner{
  background-image: url(./images/helpbox-contact.jpg);
  width: 1900px;
  height: 900px;
  background-size: cover;
  background-position: center;
  margin-top: 50px;
}